 <!--  BEGIN SIDEBAR  -->
 <div class="sidebar-wrapper sidebar-theme">

    <nav id="sidebar">

        <div class="navbar-nav theme-brand flex-row  text-center">
            <!-- <div class="nav-logo">
                <div class="nav-item theme-logo">
                    <a href="/admin/cost-sheet">
                        <img src="/css/src/assets/icons/logo2.png" class="navbar-logo" alt="Jean Fendi Logo">
                    </a>
                </div>

            </div> -->
            <div class="nav-item sidebar-toggle">
                <div class="btn-toggle sidebarCollapse">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-chevrons-left">
                        <polyline points="11 17 6 12 11 7"></polyline>
                        <polyline points="18 17 13 12 18 7"></polyline>
                    </svg>
                </div>
            </div>
        </div>
        <div class="shadow-bottom"></div>
        <ul class="list-unstyled menu-categories" id="accordionExample">

            <!-- <li class="menu">
                <a href="/admin/cost-sheet" class="dropdown-toggle">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-grid">
                            <rect x="3" y="3" width="7" height="7"></rect>
                            <rect x="14" y="3" width="7" height="7"></rect>
                            <rect x="14" y="14" width="7" height="7"></rect>
                            <rect x="3" y="14" width="7" height="7"></rect>
                        </svg>
                        <span>Cost Sheet Generator</span>
                    </div>

                </a>
            </li> -->

            <li class="menu active">
                <a href="#masterElements" data-bs-toggle="collapse" aria-expanded="false"
                    class="dropdown-toggle collapsed">
                    <div class="">
                        <i class="fa-solid fa-microchip"></i>
                        <span>Master</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-chevron-right">
                            <polyline points="9 18 15 12 9 6"></polyline>
                        </svg>
                    </div>
                </a>
                <ul class="collapse submenu list-unstyled" id="masterElements"
                    data-bs-parent="#accordionExample"> 

                    <li>
                        <a href="/admin/country"> Country </a>
                    </li>
                    <li>
                        <a href="/admin/state"> State </a>
                    </li>
                    <li>
                        <a href="/admin/city"> City </a>
                    </li>
                    <li>
                        <a href="/admin/company"> Company </a>
                    </li>
                    <li>
                        <a href="/admin/company-type"> Company Type </a>
                    </li>
                    <li>
                        <a href="/admin/product"> Product </a>
                    </li>
                    <li>
                        <a href="/admin/product-company-mapping"> 
                            <i class="fa-solid fa-link me-2"></i>Product Mapping 
                        </a>
                    </li>
                    <li>
                        <a href="/admin/receipts"> 
                            <i class="fa-solid fa-receipt me-2"></i>Mapping Receipts 
                        </a>
                    </li>
                    <li>
                        <a href="/admin/currency"> Currency </a>
                    </li>
                    <!-- <li>
                        <a href="/admin/expenses"> Expenses </a>
                    </li> 
                    <li>
                        <a href="/admin/passenger"> Passenger </a>
                    </li>
                    <li>
                        <a href="/admin/mode-of-transport"> Mode of Transport </a>
                    </li>
                    <li>
                        <a href="/admin/carrier"> Carrier </a>
                    </li>
                    <li>
                        <a href="/admin/fare-class"> Fare Class </a>
                    </li>                 
                    <li>
                        <a href="/admin/hotels"> Hotels </a>
                    </li>
                    <li>
                        <a href="/admin/room-type"> Room Type </a>
                    </li>
                    <li>
                        <a href="/admin/tax"> Tax</a>
                    </li> -->
                    <!-- <li>
                        <a href="/admin/users"> Users</a>
                    </li> -->
                    
                </ul>
            </li>
        </ul>

    </nav>

</div>
<!--  END SIDEBAR  -->