<%- include ('./admin/partials/head') %>

<link href="/css/src/assets/css/light/authentication/auth-boxed.css" rel="stylesheet" type="text/css" />

<link href="/css/src/assets/css/dark/authentication/auth-boxed.css" rel="stylesheet" type="text/css" />
<style>
  body {
    background-color: #bfc9d4 !important;
  }
</style>
</head>

<body class="form">

  <!-- BEGIN LOADER -->
  <div id="load_screen">
    <div class="loader">
      <div class="loader-content">
        <div class="spinner-grow align-self-center"></div>
      </div>
    </div>
  </div>
  <!--  END LOADER -->

  <div class="auth-container d-flex">

    <div class="container mx-auto align-self-center">

      <div class="row">

        <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-8 col-12 d-flex flex-column align-self-center mx-auto">
          <div class="card mt-3 mb-3">
            <div class="card-body">

              <div class="row">
                <div class="col-md-12 mb-3">

                  <h2>Sign In</h2>
                  <p>Enter your email and password to login</p>

                </div>
                <div class="col-md-12">
                  <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" id="inp-username">
                  </div>
                </div>
                <div class="col-12">
                  <div class="mb-4">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" id="inp-password" >
                  </div>
                </div>

                <div class="col-12">
                  <div class="mb-4">
                    <button class="btn btn-secondary w-100" id="sign-in-btn">SIGN IN</button>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
  <script src="/js/jquery.min.js"></script>
  <script src="/css/src/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/css/src/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- END GLOBAL MANDATORY SCRIPTS -->
  <script>
    $(document).ready(function() {
      $(document).ready(function () {

        $("#sign-in-btn").on("click", async function () {
          if ($("#inp-username").val() < 1) {
            alert("Username is empty")
            return
          }
          if ($("#inp-password").val() < 1) {
            alert("Password is empty")
            return
          }
          let email = $("#inp-username").val();
          let password = $("#inp-password").val()
          $.ajax({
            url: "/authenticate",
            type: "POST",
            data: {
              email: email,
              password: password
            },
            // beforeSend: function () {
            //   $(".spinner-grow-signIn").removeClass('d-none');
            //   ///$(".SignInText").text(' Sending email')
            // },
            success: function (data) {
              console.log('data::::::::::', data)
              if (data.status == "SUCCESS") {
                  location.href = data.redirect
              } else {
                alert(data)
                // createAlert({
                //   title: "ERROR",
                //   msg: data.msg,
                //   type: "negative"
                // })
              }
            },
            error: function (err) {
              console.log('eror:::::::::::', err)
       
            }
          });
        })
      })

    })
  </script>



</body>

</html>